#text {  text-align: center;
        font-family: Roboto, Arial;
}

#team { font-weight: bold; }

#title { text-align: center; 
        font-family: Roboto;
        font-weight: bold;
        font-size: 30pt;
}

#cherry-swatch {
  height: 20px;
  width: 40px;
  margin: 10px;
  background-color: #9E1B34;
  border-radius: 2px;
  float: right;
}

#pink-swatch {
  height: 20px;
  width: 40px;
  margin: 10px;
  background-color: #e5667e;
  border-radius: 2px;
  float: right;
}

.legend {
  border-color: black;
  border-width: thin;
  text-align: right;
  font-family: Roboto;
}

.cutline { 
  font-family: Roboto;
  text-align: right;
  width: 20pc;
}

.source { 
  font-family: Roboto;
  text-align: right;
  width: 20pc;
}
