#text {  text-align: center;
    font-family: Roboto, Arial;
}

#team { font-weight: bold; }

#title { text-align: center; 
    font-family: Roboto;
    font-weight: bold;
    font-size: 30pt;
}

.game-info {
    margin-top: 30px;
    float: left;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

#cherry-swatch {
height: 20px;
width: 40px;
margin-left: 10px;
margin-right: 10px;
margin-top: 0px;
margin-bottom: 0px;
background-color: #9E1B34;
border-radius: 2px;
float: right;
}

#pink-swatch {
height: 20px;
width: 40px;
margin-left: 10px;
margin-right: 10px;
margin-top: 0px;
margin-bottom: 0px;
background-color: #e5667e;
border-radius: 2px;
float: right;
}

.legend {
float: right;
width: 20%;
margin: 20px;
margin-left: 10px;
padding: 10px;
border-color: black;
border-width: medium;
border-style: solid;
text-align: right;
font-family: Roboto, Arial;
}

#cutline { 
font-family: Roboto, Arial;
float: right;
margin-top: 30px;
margin: 10px;
clear: none;
}


#source { 
font-family: Roboto, Arial;
float: left;
margin-top: 30px;
margin: 10px;
}


